# Node modules
node_modules/

# Build output
dist/
*.d.ts

# Vite config
vite.config.ts

# TypeScript build info
*.tsbuildinfo

# Logs
*.log

# Environment files
.env
.env.*

# IDE and editor settings
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db
